// hack to remove the unused sections on the landing page until
// LotusDocs fixes the bug where they show up no matter what
#featureGrid,
#imageCompare {
  display: none;
}

.docs-content .bertam-figure figcaption {
  width: 200px; /* Or match this to the actual image width */
  text-align: center;
}

.docs-content figcaption {
  font-size: small;
  display: block;
  caption-side: bottom;
  width: 100%;
  max-width: 600px;
  margin-top: 10px;
  text-align: center;
  font-style: italic;
}

